/* reset */

* { 
	padding: 0;
	margin: 0;

	border: 0;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;			
}

/* #root {
	overflow-x: hidden;
} */

#board-textarea {
	scrollbar-base-color: #000;
	scrollbar-face-color: #000;
	scrollbar-3dlight-color: #000;
	scrollbar-highlight-color: #000;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #000;
	scrollbar-dark-shadow-color: #000;
}

#board-textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.155);
	border-radius: 10px;
	background-color:rgba(255, 255, 255, 0.134);
}

#board-textarea::-webkit-scrollbar {
	width: 12px;
	background-color: rgba(255, 255, 255, 0.1);
}

#board-textarea::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(255, 255, 255, 0.5);
}

.cursor-pointer:hover {
	cursor: pointer;
}

.def-cursor {
	cursor: default;
}

.def-cursor:hover {
	cursor: default;
}

button:hover {
	cursor: pointer;
}

button, 
input,
textarea {
	outline: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.tran-all {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.backgroundcolor-tran {
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.fieldset-padding-top-tran {
	-webkit-transition: padding-top 0.5s;
	-o-transition: padding-top 0.5s;
	transition: padding-top 0.5s;
}

.opacity-tran {
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.opacity-tran-fast {
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.height-tran {
	-webkit-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
}

.height-tran-fast {
	-webkit-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

.opacity-03-delay-tran-fast {
	-webkit-transition: 0.2s 0.3s;
	-o-transition: 0.2s 0.3s;
	transition: 0.2s 0.3s;
}

.height-opacity-tran-fast {
	-webkit-transition: opacity 0.2s, height 0.3s 0.2s;
	-o-transition: opacity 0.2s, height 0.3s 0.2s;
	transition: opacity 0.2s, height 0.3s 0.2s; 
}

.top-margin-tran {
	-webkit-transition: margin-top 0.3s linear 0.2s;
	-o-transition: margin-top 0.3s linear 0.2s;
	transition: margin-top 0.3s linear 0.2s;
}

.height-bcg-color-tran {
	-webkit-transition: height 0.5s, background-color 0.5s;
	-o-transition: height 0.5s, background-color 0.5s;
	transition: height 0.5s, background-color 0.5s;
}

.fieldset-collapse-tran {
	-webkit-transition: opacity 0.2s, height 0.3s 0.2s, margin-top 0.3s 0.2s;
	-o-transition: opacity 0.2s, height 0.3s 0.2s, margin-top 0.3s 0.2s;
	transition: opacity 0.2s, height 0.3s 0.2s, margin-top 0.3s 0.2s;
}

.opacity-tran-long {
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}


#test {
	position: absolute;
	opacity: 0.6;

	/* top: 4px; */

}

.greyscale-filter {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#form-overlay {
    position: absolute;    
    width: 100%;
	height: 100%;
	
	background-color: #D8D8D8;
	
	z-index: 100;
    opacity: 0.7;
}

/* centered 1280px wide (parent height) container */
.container {
	width: 1280px;
	height: 100%;

	opacity: 1;

	margin: auto;
	display: block;
	position: relative;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.parent-component {
	position: relative;
	min-width: 1280px;
}

.text-input {
	height: 70px;
	width: 550px;
	
	background: #FFFFFF;
	-webkit-box-shadow: inset 0 1px 5px 0 #929292;
	        box-shadow: inset 0 1px 5px 0 #929292;
	border-radius: 8px; 

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #515151;
	letter-spacing: 1px;	

	padding-left: 26px;	
	padding-right: 26px;	
}

.input-wrong-entry {
    /* outline: 10px solid #C41696; */
	border: 10px solid #C41696;
	padding-left: 16px;	
}

.form-feedback {
	display: inline-block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 5px;	
}

.link {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 5px;	
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	color: #323232;
}

/* Some generalized styling */

.heading {
	display: inline-block;
	position: relative;

	margin-top: 50px;
	margin-left: 100px;

	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 70px;
	color: #FEFEFE;
	letter-spacing: 4px;
	line-height: 70px;
}


/* hover floating info element */
.hover-dialog {
	display: inline-block;
	position: absolute;

	z-index: 6;

	-webkit-animation-name: hover-tooltip;
	        animation-name: hover-tooltip;
	-webkit-animation-duration: 0.3s;
	        animation-duration: 0.3s;
	-webkit-animation-direction: normal;
	        animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
} 

.show-delay {
	-webkit-animation-name: show-delay;
		animation-name: show-delay;
	-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
	-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
	-webkit-animation-direction: normal;
		animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	opacity: 0;
}

@-webkit-keyframes show-delay {
	0%   {opacity: 0; }
    100% {opacity: 1; }
} 

@-webkit-keyframes hover-tooltip {
    0%   {opacity: 0; }
    100% {opacity: 1; }
} 

@keyframes hover-tooltip {
    0%   {opacity: 0; }
    100% {opacity: 1; }
}

.triangle-hover-box-container {
	position: relative;
	display: block;
}

.hover-dialog-text {
	position: relative;
	display: block;

	padding: 11px 15px 11px 20px;

	background: #323232;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 5.73px;

	text-align: center;
}

.pun-picker-component .hover-dialog-text,
.skoldboard-table-container .hover-dialog-text
{
	letter-spacing: 2px;
}

#triangle-element {
	display: block;
	position: relative;

	margin: 0 auto;
}

/* Header component */

fieldset + fieldset {
	margin-top: 20px;
}

.header {
	min-width: 1280px;	

	background-color: #C4ACE4;
} 

.login {
	min-width: 1280px;	

	background-color: #C4ACE4;
	opacity: 1;
	
	-webkit-transition: height 0.5s, background-color 0.5s;
	
	-o-transition: height 0.5s, background-color 0.5s;
	
	transition: height 0.5s, background-color 0.5s;	
}


.register-header {
	background: #FFA623;
}

.message-heading {
	padding-bottom: 80px;
	font-size: 50px;
}

#header:after {
	content: "";
	display: table;
	clear: both;
}

.btn-submit {
	display: inline-block;
	position: relative;

	padding: 16px 19px 15px 25px;

	background-color: #323232;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 5px;
	color: #FEFEFE;

	border: none;
	outline: 0;
}

.btn-submit:hover {
	color: #515151;
	background-color: #FFFFFF;
}

#btn-log-in {
	float: right;
	margin-right: 37px;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-left: 0px;
}

#btn-register {
	display: inline-block;
	padding-right: 27px;
	padding-left: 27px; 
}

#register-link {
	float: right;
	margin-right: 25px;
	margin-top: 66px;

	cursor: pointer;

    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 5px;
}

#register-link:hover {
	text-decoration: underline;
}

#btn-additional {
	margin-left: 29px;
}

#password-change-btn-container {
	position: absolute;
	display: none;	
	z-index: 20;

	left: 0;
	top: 31px;

	width: 200px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;

	background-color: rgba(81, 81, 81, 0.9);
}

#password-change-btn {
	display: inline-block;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 17px;
	background-color: transparent;
}

#password-change-btn:hover{
	color: #00BBD6;
}

.register-heading {
	margin-top: 60px;
}

#login-form {
	position: relative;

	margin-top: 50px;
}

.register-form {
	display: inline-block;
	position: relative;

	margin-top: 40px;
	padding-bottom: 80px;
}

.change-pwd-form {
	display: inline-block;
	position: relative;

	margin-top: 40px;
	padding-bottom: 80px;
}

.opacity-anim {
	-webkit-animation-name: anim-opacity;
		animation-name: anim-opacity;
	-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
	-webkit-animation-direction: normal;
		animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	opacity: 0;
}

@-webkit-keyframes anim-opacity {
	0%   {opacity: 0; }
    100% {opacity: 1; }
} 

@keyframes anim-opacity {
	0%   {opacity: 0; }
    100% {opacity: 1; }
} 

.close-btn {
	display: inline-block;
	position: relative;

	padding: 16px 19px 15px 25px;
	margin-left: 29px;

	background-color: #323232;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 5px;
	color: #FEFEFE;

	border: none;
	outline: 0;
}

.close-btn:hover {
	color: #515151;
    background-color: #FFFFFF;
}

#btn-set-pwd {
	margin-left: 355px;
}

#change-pwd-form-feedback {
	margin-left: 22px;
}

.header-form-row .text-input, .btn-submit {
	margin-left: 365px;
}

#login-form .form-feedback, .link {
	margin-left: 23px;
}

.register-form .form-feedback {
	margin-left: 23px;
}

.register-form .form-feedback {
	top: -3px;
}

#login-form .btn-submit {
	margin-left: 365px;
	margin-bottom: 80px;
}

/* logged in top container (username/email + logout) */
.user-loggedin-top-component {
	display: block;
	position: relative;
	background: transparent;
}

.user-loggedin-top-component:after {
	content: "";
	display: table;
	clear: both;
}

.user-identity {
	display: inline-block;
	position: relative;

	margin-right: 30px;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 24px;
	
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #515151;
	letter-spacing: 0;
	line-height: 26px;
}

.user-identity:hover {
	color: #00BBD6;
	/* background-color: rgba(81, 81, 81, 0.9); */
}

.user-identity:hover #password-change-btn-container {
	/* display: inline-block; */
}

.delimiter-container {
	display: inline-block;
	position: relative;

	padding-top: 33px;
	padding-bottom: 22px;
}

#user-loggedin-top-delimiter {
	display: inline-block;
	position: relative;
}

.logout-button {
	display: inline-block;
	position: relative;	

	margin-top: 34px;
	padding-right: 46px;
	padding-left: 24px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #D2D2D2;
	background: transparent;
	letter-spacing: 2px;
}

.logout-button:hover {
	color: #323232;
}

/* set username part */

#set-username-heading {
	margin-top: 57px;
}

.set-username-form {
	display: inline-block;
	position: relative;

	margin-top: 42px;
	padding-bottom: 80px;
}

.btn-set-username {
	padding-left: 25px;
	padding-right: 22px;
}

.set-username-form .form-feedback {
	margin-left: 22px;
	top: -3px;
}


/* Board component */

#board-component-container {	
	height: 1000px;
	background-color: #00BBD6;
}

.left-side-col {
	width: 1054px;
	height: 100%;

	float: left;
	position: relative;
}

.board-watch-block {	
	position: relative;
	float: left;

	height: 74px;
	width: 78px;

	background: #234F78;
	font-family: 'Share Tech Mono', monospace;
	font-size: 54px;
	color: #FEFEFE;
}

.watch-digits {
	display: inline-block;
	position: relative;
	
	margin-top: 9px;
	margin-left: 10px;
}

#board-watch-component {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 160px;
}

#board-watch-container {
	position: relative;
	display: inline-block;

	margin-top: 45px;
	margin-left: 383px;
}

#watch-AM-PM-container {
	font-size: 34px;	
}

#watch-AM-PM {
	display: inline-block;
	margin-top: 14px;
	margin-left: 20px;
}

#stopwatch {
	padding-top: 14px;
	padding-left: 20px;
}

.board-watch-block + .board-watch-block {
	margin-left: 1px;
}

/* Writing board part */

#board-writing-board-component {
	width: 100%;
	height: 650px;

	position: relative;
}

#board-frame {
	width: 980px;
	height: 630px;

	position: relative;
	margin-left: 50px;
	
	background: #EA411E;
}

#drawing-board {
	display: inline-block;

	width: 950px;
	height: 600px;

	position: relative;
	margin-top: 15px;
	margin-left: 15px;

	z-index: 1;

	background: #2B5D64;
}

#click-to-start-element {
	left: calc(50% - 82px);
	bottom: calc(50% - 40px);

	z-index: 2;
}

#board-textarea {

	background: transparent;
	border: 0 none;
	width: 100%;
	height: 533px;
	outline: none;

	display: inline-block;	
	position: relative;
	margin-bottom: 40px;
	padding-top: 31px;
	padding-bottom: 32px;
	padding-left: 36px;
	padding-right: 54px;
	overflow-y: auto;
	overflow-x: hidden;
	
	font-family: 'Pangolin', cursive;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 46px;
	word-wrap: break-word;

	z-index: 3;

	resize: none;
}

#chalk-container {
	width: 936px;
	height: 50px;

	position: relative;
	display: inline-block;
	bottom: 35px;

	margin-left: 15px;
}

#sponge {
	width: 100px;
	height: 100%;

	position: relative;
	z-index: 4;

	background: #FFBC24;
} 

#restart-hover-element {
	position: absolute;
	bottom: 48px;
	left: -28px;
}

#board-chalks {
	position: relative;
	left: 162px;
	bottom: 22px;

	z-index: 5;
}

#board-shelf {	
	height: 20px;
	width: 1030px;

	display: inline-block;
	position: relative;

	margin-left: 24px;

	background: #2B80B2;	
}

#board-bottom-books-component {
	width: 100%;
	height: 190px;
	display: block;
	position: absolute;
	bottom: 0px;
}

#books-on-floor {
	position: relative;
	left: 827px;
	top: 11px;

	z-index: 1;
}

#classroom-floor {
	width: 100%;
	height: 74px;

	display: inline-block;
	position: relative;

	bottom: 74px;

	z-index: 0;

	background: #234F78;
}

 /* BOARD SCREWS  */
.btn-board-screw {
	position: absolute;
	display: inline-block;

	background: transparent;
	height: 7px;
	width: 7px;
	overflow: visible;

	cursor: default;
}

.btn-board-screw:hover{
	cursor: default;
}

#btn-board-screw-01{
	left: 5px;
	top: 5px;
}

#btn-board-screw-02{
	right: 5px;
	top: 5px;
}

#btn-board-screw-03{
	left: 5px;
	bottom: 5px;
}

#btn-board-screw-04{
	right: 5px;
	bottom: 5px;
}

.right-side-col {
	width: 226px;
	height: 100%;

	float: left;
	position: relative;
}

#plant-board-right-container {
	width: 100%;
	height: 330px;

	position: relative;
}

#board-plant-with-shelf {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	margin-left: 13px;	
}

#rollup-container {
	width: 100%;
	height: calc(100% - 330px);

	display: inline-block;
	position: relative;
	z-index: 1;
}

#rollups {
	width: 190px;
	height: 630px;

	display: inline-block;
    position: relative;
    margin-left: 13px;
	
	background: #2B5D64;
}	

#rollup {
	width: 160px;
	height: 600px;

	position: absolute;
	top: 15px;
	left: 15px;
}

.board-stamps-container {
	display: inline-block;
	position: absolute;

	z-index: 100;

	left: 286px;
	top: 183px;

	-webkit-animation-name: stamp-hit;
	        animation-name: stamp-hit;
	-webkit-animation-delay:0.2s;
	        animation-delay:0.2s;
	-webkit-animation-duration: 0.3s;
	        animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	opacity: 0;
}

@-webkit-keyframes stamp-hit {
	0% {
	opacity: 0;
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transform: rotate(-15deg) scale(2.9);
	        transform: rotate(-15deg) scale(2.9);
	}

	10% {
	opacity:.50;		
	-webkit-transform: rotate(-2deg) scale(2.8);		
	        transform: rotate(-2deg) scale(2.8);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
		transition: all .3s linear;
	}

	100% {
	opacity:1;
	-webkit-transform: rotate(0deg) scale(1);
	        transform: rotate(0deg) scale(1);
	}
}

.board-stamps-completed-container {
	left: 220px;
	top: 142px;
}

.board-social-failed-stamp-container {
	display: inline-block;
	position: absolute;

	top: 160px;
	left: 184px;
}

.board-social-completed-stamp-container {
	display: inline-block;
	position: absolute;
	
	top: 185px;
    left: 275px;
}

.board-social-share-label {
	display: block;
	position: relative;
	
	bottom: 122px;
	
	padding-left: 36px;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #FEFEFE;
	letter-spacing: 5px;
}

.social-btns-container {
	display: block;
	position: relative;

	padding-left: 36px;
	bottom: 110px;
}

.social-btn {
	margin-right: 11px;
	background: transparent;
}

.social-btn:hover g{
	fill: #323232;
}



/* Punishment creator */

#creator-component-container {
	height: 1030px;
	background-color: #EA411E;		
}

#creator-heading-container {
	/* height: 120px; */
	width: 100%;

	display: inline-block;
	position: relative;

	margin-top: 50px;
}

#creator-heading {
	display: inline-block;
	position: relative;
	
	left: 100px;

	margin-top: 9px;

	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 70px;
	font-weight: lighter;
	color: #FEFEFE;
	letter-spacing: 4px;
	line-height: 70px;
}

#pun-creation-form {	
	position: relative;
	margin-top: 90px;
	z-index: 2;
}

.form-row + .form-row {
	margin-top: 17px;
}

.form-row {
	width: calc(100% - 96px);

	margin-left: 96px;
	
	position: relative;
	display: inline-block;
}

.input-field-name {	
	width: 248px;	

	display: inline-block;
	position: relative;
	margin-top: 22px;	/* not by design */

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: #FEFEFE;
	letter-spacing: 0;
	line-height: 26px;
	text-align: right;
}

#whom-input {
	position: relative;
	margin-left: 23px;
}

#whom-feedback {
	width: 259px;

	position: relative;
	margin-top: 24px;
	margin-left: 22px; 
}

.btn-range {
	width: 50px;
	height: 50px;

	position: relative;
	margin-top: 10px;
	
	background: #323232;
}

.creator-range-symbol {
	display: inline-block;
	margin: 0 auto;	
}

#decrement-button {
	position: relative;
	display: inline-block;
	margin-left: 23px;
}

#decrement-button:hover {
	background: #FFFFFF;
}

#decrement-button:hover #decrement-btn-g {
	stroke: #515151;
}

/* Removing default buttons for inc/dec number type input field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#how-many-times-input {
	width: 126px;

	display: inline-block;
	position: relative;
	margin-left: 20px;

	padding: 0;
	text-align: center;
}

#increment-button {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

#increment-button:hover {
	background: #FFFFFF;
}

#increment-button:hover #increment-btn-g {
	stroke: #515151;
}

.custom-chexbox-container {
	width: 50px;
	height: 50px;
	
	display: inline-block;
	position: relative;
	margin-left: 23px;
	margin-top: 10px;

	cursor: pointer;
	font-size: 22px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: transparent;
}
  
  /* Hide the browser's default checkbox */
.custom-chexbox-container input {
	position: relative;
	display: none;
	opacity: 0;
	cursor: pointer;
}  
  /* Create a custom checkbox */
#checkmark {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: transparent;
	background-image: url("checkbox-unselected.svg");
}      
  /* Create the checkmark/indicator (hidden when not checked) */
#checkmark:after {
	content: "";
	display: none;
}  
  /* Show the checkmark when checked */
.custom-chexbox-container input:checked ~ #checkmark:after {
	display: inline-block;
}
  /* Style the checkmark/indicator */
.custom-chexbox-container  #checkmark:after {
	position: relative;
	height: 50px;
	width: 50px;
	background-image: url("checkbox-selected.svg");
}

#day-picker {
	width: 80px;

	display: inline-block;
	margin-left: 20px;
	padding: 0;

	text-align: center;	
}

#month-picker {
	width: 80px;

	display: inline-block;
	margin-left: 10px;

	padding: 0;
	text-align: center;
}

#year-picker {
	width: 126px;

	display: inline-block;
	position: relative;
	margin-left: 10px;

	padding: 0;
	text-align: center;
}

#btn-calendar {
	width: 50px;
	height: 50px;

	display: inline-block;
	position: relative;

	margin-top: 10px;
	margin-left: 20px;

	background-color: #323232;
}

#btn-calendar:hover {
	background: #FFFFFF;
}

#btn-calendar:hover #calendar-btn-rect {
	fill: #FFFFFF;
}

#btn-calendar:hover #calendar-btn-g {
	stroke: #323232;
}

#what-to-write-input {
	position: relative;
	margin-left: 23px;
}

#why-form-row {
	height: 200px;
}

#why-input {
	position: relative;
	margin-left: 23px;
	height: 100%;

	padding-top: 20px;
	padding-right: 20px;

	resize: none;
}

#btn-pun-submit {
	width: 172px;

	position: relative;
	margin-left: 269px;
}

#form-submit-feedback {
	position: relative;
	margin-top: 20px;
	margin-left: 32px;
}

#form-bottom-props-container {
	position: absolute;
	bottom: 0px;

	z-index: 1;
}

#form-bottom-props {
	display: block;
	margin: auto;
	position: absolute;
	bottom: 0px;
	left: 100px;
}

/* Footer */
#footer-component {
	height: 300px;	
	width: 100%;
	min-width: 1280px;	

	background: #515151;
	font-family: 'Montserrat', sans-serif;
}

#cr-kreativni {
	float: left;
	margin-top: 252px;
	margin-left: 50px;

	font-size: 12px;
	color: #929292;
	letter-spacing: 2px;
}

#cr-kreativni #kreativni-link {
	text-decoration: none;
	color: inherit;
}

#cr-kreativni #kreativni-link:hover {
	color: white;
}

#terms-of-agreement-link {
	color: #777;
}

#terms-of-agreement-link:hover {
	color: white;
	cursor: pointer;
}

#privacy-policy-link {
	color: #777;
}

#privacy-policy-link:hover {
	color: white;
	cursor: pointer;
}

#marketing-link {
	color: #777;
	text-decoration: none;
}

#marketing-link:hover {
	color: white;
	cursor: pointer;
}

#social-icons-footer {
	float: right;
	margin-top: 241px;
	margin-right: 50px;
}

#twitter-footer-icon {
	margin-right: 22px;
}

#twitter-footer-icon:hover #twitter-g {
	fill: white;
}

#facebook-footer-icon {
	margin-right: 22px;
}

#facebook-footer-icon:hover #facebook-g {
	fill: white;
}

#shop-footer-icon:hover #shop-g {
	fill: white;
}


/* Punishment picker */

.picker-component-container {
	min-width: 1280px;
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}

.picker-new-color {
	background: #00BBD6;
}

.picker-accepted-color {
	background: #FF8D1F;
}

.picker-past-color {
	background: #FF948A;
}

.picker-ordered-color {
	background: #ffbc24;
}

.picker-heading {
	margin-top: 57px;
}

.pun-picker-component {
	display: inline-block;
	position: relative;

	width: 100%;

	padding-top: 66px;

	padding-left: 50px;
	padding-right: 50px;
} 

.picker-tab:hover {
	opacity: 1;
}

.picker-table  {
	display: inline-block;
	position: relative;

	/* padding-left: 50px; */

	margin-top: -1px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #515151;
	letter-spacing: 1px;
	line-height: 22px;	

	border-collapse: collapse;

	-webkit-animation-name: picker-table-anim;

	        animation-name: picker-table-anim;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

@-webkit-keyframes picker-table-anim {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes picker-table-anim {
    from { opacity: 0;}
    to { opacity: 1;}
}

td {
	position: relative;
	display: inline-block;

	height: 60px;

	padding: 20px 16px 0 19px;

	/* line-height: 22px; */

	text-align: left;
}

.picker-nav-container {
	display: inline-block;
	position: relative;		
	width: 100%;
}

.picker-navigation {
	display: inline-block;
	position: relative;
	
	top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.picker-navigation button {
	display: inline-block;
	position: relative;

	padding: 21px 30px 10px 30px;
	
	opacity: 0.35;
	background: transparent;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;	
	color: #FEFEFE;
	letter-spacing: 2px;
	line-height: 30px;

	outline: none;
}

.picker-tab-with-border:after {
	content: '';
	height: 37px; 
	width: 1px;

	position: absolute;
	right: 1px;
	bottom: 0; 

	background-color: #515151;
}

.picker-navigation .picker-selected-tab {
	display: inline-block;
	position: relative;
	
	color: #FEFEFE;	
	opacity: 1;	
	background: #515151;

	-webkit-animation-name: picker-tab-option-fadein;

	        animation-name: picker-tab-option-fadein;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
}

@-webkit-keyframes picker-tab-option-fadein {
	from {opacity: 0};
	to {opacity: 1};
}

@keyframes picker-tab-option-fadein {
	from {opacity: 0};
	to {opacity: 1};
}


/* table header row */

.picker-table-header > div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color: #FEFEFE;
	letter-spacing: 5px;
	
	-webkit-animation-name: table-header-fadein-anim;
	
	        animation-name: table-header-fadein-anim;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
			
	padding-top: 20px;
	padding-bottom: 20px;
}

@-webkit-keyframes table-header-fadein-anim {
	from {opacity: 0};
	to {opacity: 1}
}

@keyframes table-header-fadein-anim {
	from {opacity: 0};
	to {opacity: 1}
}


.picker-table-header {
	display: table;
	width: 100%;
	position: relative;
	background: #515151;
}

/* .picker-table-row:last-child {
	border-bottom: 10px solid #515151;
} */

.picker-table-row {
	height: 60px;
}

.picker-table-row:last-child td {
	border-bottom: none;
}

.picker-selected-row {
	-webkit-animation-name: select-row-anim;
	        animation-name: select-row-anim;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

@-webkit-keyframes select-row-anim {
	from { background-color: transparent;}
    to { background-color: #FFD75F;}
}

@keyframes select-row-anim {
	from { background-color: transparent;}
    to { background-color: #FFD75F;}
}

.punishment-table-header-btn {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #FEFEFE;
    letter-spacing: 5px;
    background: transparent;
}

.picker-table-row td {
	border-right: 1px solid #515151;
}

.empty-field {
	display: inline-block;
	width: 49px;
}

.ordering-field {
	width: 241px;
	display: inline-block;
}

.ordered-on-field {
	display: inline-block;
	width: 219px;
}

.ordered-on-lmargin-field {
	margin-left: 50px;
}

.picker-table-header .ordering-field {
	width: 291px;
	padding-left: 50px;
}

.deadline-field {
	display: inline-block;
	width: 201px;
	padding-left: 22px;
}

.ordered-deadline-field {
	display: inline-block;
	width: 183px;
	padding-left: 22px;
}

.by-whom-field {
	display: inline-block;
	width: 221px;
	padding-left: 22px;
}

.to-whom-field {
	display: inline-block;
	width: 215px;
	padding-left: 22px;
}

.when-field {
	display: inline-block;
	width: 147px;
}

.num-time-field {
	width: 88px;
	text-align: center;
	display: inline-block;
}

.num-time-field-pad-left {
	text-align: left;
	padding-left: 36px;
}


.ordered-num-time-field {
	width: 88px;
	text-align: center;
	display: inline-block;
}

.past-num-time-field {
	width: 85px;
	text-align: center;
	display: inline-block;
}

.what-field {
	width: 312px;
	padding-left: 19px;
	padding-right: 16px;
	display: inline-block;
}

.what-field-longer {	
	display: inline-block;
	width: 397px;
	padding-left: 19px;
	padding-right: 16px;	
}

.ordered-what-field {
	display: inline-block;
	width: 300px;
	padding-left: 19px;
	padding-right: 16px;
}

.go-field {
	width: 75px;
	padding-top: 10px;
	padding-bottom: 9px;
	display: inline-block;
}

.accept-field {
	width: 150px;
	padding-top: 10px;
	padding-bottom: 9px;
	display: inline-block;
}

.giveup-field {
	width: 160px;
	padding: 10px 0 9px 10px;
	display: inline-block;
}

.reject-field {
	width: 144px;
	padding: 10px 0 9px 10px;
	display: inline-block;
}

.status-field {
	display: inline-block;
	width: 149px;
	padding-left: 24px;
}

.ordered-status-field {
	display: inline-block;
	width: 147px;
	padding-left: 21px;
}

.table-cell-content {
	width: 100%;
	height: 100%;

	display: inline-block;
	

	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.status-field,
td.ordered-status-field {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;	
	letter-spacing: 0.82px;
	line-height: 20px;
}

.accepted-status {
	color: #FFE597;
}

.completed-status {
	color: #FFE597;
}

.rejected-status {
	color: #EA411E;
}

.failed-status {
	color: #EA411E;
}

.givenup-status {
	color: #2B80B2;
}

.ignored-status {
	color: #2B80B2;
}


.picker-table-row .what-field,
.picker-table-row .go-field,
.picker-table-row .giveup-field,
.picker-table-row .accept-field,
.picker-table-row .reject-field,
.picker-table-row .status-field,
.picker-table-row .ordered-status-field,
.picker-table-row .empty-field {
	border-right: none;
} 

.picker-table-row .ordering-field,
.picker-table-row .ordered-on-field,
.picker-table-row .when-field,
.picker-table-row .deadline-field,
.picker-table-row .ordered-deadline-field,
.picker-table-row .by-whom-field,
.picker-table-row .to-whom-field,
.picker-table-row .num-time-field,
.picker-table-row .ordered-num-time-field,
.picker-table-row .past-num-time-field,
.picker-table-row .what-field,
.picker-table-row .what-field-longer,
.picker-table-row .ordered-what-field,
.picker-table-row .go-field,
.picker-table-row .giveup-field,
.picker-table-row .accept-field,
.picker-table-row .reject-field,
.picker-table-row .status-field,
.picker-table-row .ordered-status-field {	
	border-bottom: 1px solid #515151;
}

.picker-btn {
	display: inline-block;
	position: relative;

	/* width: 100%; */
	height: 40px;

	padding-left: 15px;
	padding-right: 15px;

	background: #323232;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 5.73px;

	text-align: center;
}

.picker-btn:hover {
	background: white;
	color: #323232;
}

.picker-btn-go {
	color: #FFD75F;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	float: right;
}

.picker-btn-giveup {
	color: #FF948A;
	float: left;
}





.page-listing-component {
	display: block;
	position: relative;

	padding-top: 15px;
	padding-bottom: 7px;

	padding-left: 447px;
}

.page-listing-component button {
	display: inline-block;
	position: relative;


	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 5px;

	background: transparent;

	outline: none;
}


.punishment-page-navigation-btn {
	background: transparent;

	display: inline-block;
	position: relative;
	
	top: 5px;
	margin-left: 22px;
	margin-right: 26px;
}

#punishment-next-page-navigation-btn {
	margin-left: 23px;
	margin-right: 22px;
}

#first-page-button, #last-page-button, #picker-page {
	margin-top: 2px;
	text-align: center;
}

#first-page-button:hover, #last-page-button:hover {
	color: #515151;
}

#punishment-previous-page-navigation-btn:hover  #Group-prev-btn,
#punishment-next-page-navigation-btn:hover  #Group-next-btn {
	stroke: #515151;
}

#punishment-previous-page-navigation-btn:hover #page-03,
#punishment-next-page-navigation-btn:hover #page-04 {
	opacity: 1;
}


#picker-bottom-image-container {
	display: block;
	position: relative;
	bottom: 0;

	padding-top: 5px;	
}

#picker-bottom-image {
	display: block;
	position: relative;

	margin: 0 auto;
}


/* Statz component */

.statz-component-container {
	background: #C4ACE4;
}

#statz-heading {
	padding-top: 9px;
}

.statz-group-heading {

	display: inline-block;
	position: relative;
	
	text-align: center;
	width: 100%;

	padding-top: 13px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #FEFEFE;
	letter-spacing: 2px;
	line-height: 30px;
}

.punishing-others-container {
	display: block;
	position: relative;
}

.graph-container {
	display: inline-block;
	position: relative;

	z-index: 3;

	padding-top: 73px;
}

.graph1-container {
	margin-left: 117px;
}

.graph2-container {
	margin-right: 117px;
}

.pun-others-bottom-image-container,
.being-punished-bottom-image-container {
	clear: both;

	display: block;
	position: relative;	

	padding-top: 48px;
}

#pun-others-bottom-image,
#being-punished-bottom-image {
	display: block;
	position: relative;

	margin: 0 auto;
}

.being-punished-container {
	padding-top: 40px;
}

.being-punished-bottom-image-container {
	padding-top: 0px; 
	bottom: 64px;

	z-index: 2;
}



/* rank component */

.rank-component-container {
	display: block;
	position: relative;

	margin-top: -64px;

	background: #02bbd7;
}

#rank-heading {
	padding-top: 9px;
}

#user-rank {
	font-family: 'Share Tech Mono', monospace;
	font-size: 70px;
	color: #FFBC24;
}

.rank-description-container {
	display: block;
	position: relative;

	padding-top: 12px;	
}

.rank-description {	
	position: inline-block;
	
	width: calc(100% - 200px);
	margin: 0 auto;

	font-family: 'Montserrat', sans-serif;
	/* font-weight: 500; */
	font-size: 24px;
	color: #515151;
	letter-spacing: 1px;
}

.rank-bottom-image-container {
	display: block;
	position: relative;

	margin-top: 94px;
}

#rank-bottom-image {
	display: block;
	position: relative;

	margin: 0 auto;
}



/* Prefs component */

.prefs-component-container {
	position: relative;
	background: #c5ace5;
	z-index: 1;
}

.pref-content-container {
	overflow: hidden;
	
	position: relative;
	padding-bottom: 128px;
	
	z-index: 50;
}

#prefs-heading {
	display: inline-block;
	position: relative;

	margin-top: 0;

	padding-top: 59px;
}

.prefs-container {
	position: relative;

	padding-top: 68px;
	padding-left: 264px;

	z-index: 5;
}

.prefs-left-container {
}

#change-pwd-link {
	display: inline-block;
	position: absolute;
	left: 100px;
	bottom: 123px;

	z-index: 10;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 5px;

	cursor: pointer;
}

#change-pwd-link:hover {
	text-decoration: underline;
}

.prefs-row {
	padding-top: 5px;
	margin-bottom: 15px;
}

.prefs-row:last-child {
	margin-bottom: 0;
}




.pref-chexbox-cont {
	width: 30px;
	height: 30px;
	
	display: inline-block;
	position: relative;

	cursor: pointer;
	font-size: 22px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: transparent;
}
  
  /* Hide the browser's default checkbox */
.pref-chexbox-cont input {
	position: relative;
	display: none;
	opacity: 0;
	cursor: pointer;
}  
  /* Create a custom checkbox */
#pref-checkmark {
	position: relative;
	display: inline-block;
	height: 31px;
	width: 30px;
	background-color: transparent;
	background-image: url("pref-checkbox-unchecked.svg");
}      
  /* Create the checkmark/indicator (hidden when not checked) */
#pref-checkmark:after {
	content: "";
	display: none;
}  
  /* Show the checkmark when checked */
.pref-chexbox-cont input:checked ~ #pref-checkmark:after {
	display: inline-block;
}
  /* Style the checkmark/indicator */
.pref-chexbox-cont #pref-checkmark:after {
	position: relative;
	height: 30px;
	width: 30px;
	background-image: url("pref-checkbox.svg");
}

.pref-name {
	display: inline-block;
	position: relative;

	top: 4px;
	padding-left: 21px;	

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 23px;
	color: #FEFEFE;
	letter-spacing: 0;
	line-height: 23px;
}

.pref-heading {
	display: inline-block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 23px;
	color: #FEFEFE;
	letter-spacing: 0;
	line-height: 23px;

	padding-top: 10px;
}

.pref-heading-bot-marg {
	margin-bottom: 11px;
}

.pref-heading-bot-pad {
	padding-bottom: 15px;
}

.prefs-bottom-image-container {	
	clear: both;
	display: block;
	position: absolute;		
	
	left: 50%;
	bottom: 0;

	z-index: 1; 
}

#prefs-bottom-image {
	display: block;
	position: relative;	

	left: -50%;
}

.cookie-notice {
	min-width: 1280px;
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #848484;
	z-index: 1000;
	padding-top: 25px;
	padding-bottom: 25px;
}

.cookie-notice-container {	
	display: flex;
	overflow: overlay;
	opacity: 1;
}

.cookie-message {
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;	
	color: white;
}

.cookie-content-left,
.cookie-content-right {
	display: inline-block;
}

.cookie-content-left {
	float: left;
	height: 100%;
	padding-right: 70px;
	width: calc(100% - 67px);
}

.cookie-content-right {
	display: flex;
	float: right;
}

.cookie-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-cookie {
	display: inline-block;
	position: relative;

	padding: 10px 19px 10px 19px;

	background-color: #323232;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 2px;
	color: #FEFEFE;

	border: none;
	outline: 0;

}

.btn-cookie:hover {
	color: #515151;
	background-color: #FFFFFF;
}

.logo-container {
	position: absolute;
	width: 100%;
	margin-top: 75px;
	text-align: center;
}

.logo-beta-mark {
	position: absolute;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 20px;
	color: #929292;
	letter-spacing: 1.6px;

	top: 102px;
    right: 673px;
}

.logo-tm-mark {
	position: absolute;
	font-family: 'Montserrat';
	font-size: 10px;
	color: #929292;
	letter-spacing: 1.67px;

	top: 29px;
    right: 401px;
}

.mobile-logo-container {
	padding-top: 55px;
	width: 285px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}

.mobile-logo-image {
	width: 285px;
	height: auto;
}

.logo-beta-mobile-mark {
	position: absolute;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 15px;
	color: #929292;
	letter-spacing: 1.6px;

	top: 61px;
    right: 156px;
}

.logo-tm-mobile-mark {
	position: absolute;
	font-family: 'Montserrat';
	font-size: 6px;
	color: #929292;
	letter-spacing: 1.67px;
	
	top: 19px;
    right: -2px;
}

.mobile-message-container {
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	/* height: 308px; */
}

.mobile-message {
	font-family: 'Love Ya Like A Sister';
	font-size: 30px;
	height: 238px;
	color: #FEFEFE;
	letter-spacing: 0;	
	line-height: 34px;
}

.mobile-explanation-container {
	padding-top: 50px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.mobile-explanation-text {
	font-family: 'Montserrat';
	font-size: 14px;
	color: #FEFEFE;
	letter-spacing: 0.3px;
	line-height: 20px;
}

.mobile-bottom-container {
	padding-top: 100px;
	text-align: center;
}

.mobile-social-icons-container {
	margin: auto;
	height: 48px;
}

.kreativni-mobile-link-container {
	display: inline-block;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

#kreativni-mobile-link {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 2px;
}

#kreativni-mobile-link:hover {
	/* color: white; */
}

#twitter-mobile-icon {
	margin-right: 44px;
	opacity: 0.5;
}

#twitter-mobile-icon:hover {
	opacity: 1;
}

#facebook-mobile-icon {
	margin-right: 44px;
	opacity: 0.5;
}

#facebook-mobile-icon:hover {
	opacity: 1;
}

.react-calendar button:disabled {
	cursor: default;
}


/* SKOLDBOARD TABLE PART */

.skoldboard-table-container {
	width: 1180px;
	margin: auto;
}

.skoldboard-table {
	display: inline-block;
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #515151;
	letter-spacing: 1px;
	line-height: 20px;	

	border-collapse: collapse;

	-webkit-animation-name: picker-table-anim;
	        animation-name: picker-table-anim;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.skoldboard-row td{
	border-bottom: 1px solid #515151;
	padding-top: 20px;
}

td.skoldboard-table-punish-field {
	padding-top: 10px;
}

.skoldboard-row .empty-field {
	border-bottom: none;
}

.skoldboard-row:last-child {
	margin-bottom: -1px;
}

.skoldboard-row:last-child td {
	border-bottom: none;
}

.skoldboard-table-header-rank {
	width: 200px;
	padding-left: 50px;
	text-align: center;
}

.skoldboard-table-header-who {
	width: 450px;
	padding-left: 22px;
}

.skoldboard-table-header-from {
	width: 150px;
	text-align: center;
}

.skoldboard-table-header-to {
	width: 150px;
	text-align: center;
}

.skoldboard-rank-field {
	width: 150px;
}

.skoldboard-who-field {
	width: 450px;
	padding-left: 22px;
}

.skoldboard-from-field {
	width: 150px;
}

.skoldboard-to-field {
	width: 150px;
}

.skoldboard-table-punish-field {
	width: 181px;
    padding-top: 10px;
    padding-bottom: 9px;
    display: inline-block;
}

.skoldboard-btn-punish {
	float: right;
    position: relative;
    width: 140px;
    height: 40px;
    background: #323232;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5.73px;
	text-align: center;
	color: white;
}

.skoldboard-btn-punish:hover {
	background: white;
	color: #323232;
}

.skoldboard-rank-field,
.skoldboard-who-field,
.skoldboard-from-field {
	border-right: 1px solid #515151;
}

.skoldboard-rank-field,
.skoldboard-from-field,
.skoldboard-to-field {
	text-align: center;
}


#credits {
	position: absolute;
	top: 306px;
	left: 170px;
}

.change-pwd-header {
	background: #a379e2;
}

#chng-pwd-feedback {
	margin-left: 22px;
}

.goodies-component-container {
	display: block;
	position: relative;
	height: 470px;
	min-width: 1280px;
	background: #FF545F;
}

#goodies-heading {
	margin-top: 59px;
	z-index: 2;
}

#goodies-svg-container {
	position: absolute;
	top: 33px;
	left: 100px;
	z-index: 1;
}

#goodies-btn-holder {
	position: relative;
	text-align: center;
}

#goodies-btn {
	position: absolute;
	margin-left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;


	font-weight: 300;
}



.legals {
	text-align: center;
}

.legals h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 3em;
	font-weight: 100;
	padding-top: 100px;
}

.legals h2 {
	padding-top: 40px;
	padding-bottom: 10px;
}

.legals p {
	padding-bottom: 10px;	
}

.legals a {
	color: white;	
}

.legals ul {
	padding-left: 50px;
	padding-right: 50px;

	padding-bottom: 10px;
    margin-top: -10px;
}


/* new puns notification component */
.notification-count-container {
	display: inline-block;
	position: relative;
	height: 24px;

	right: 22px;
	bottom: 5px;
	background: #EA411E;

	border-radius: 24px;
   /*  padding: 20px; 
    width: 600px;
    height: 150px;   */
}

.notification-count-container:hover {
	background: #323232;
	color: white;
}

.notification-count-display {
	position: relative;
	display: block;
	font-size: 14px;
	color: white;
	height: 100%;
	width: 100%;

	font-family: 'Montserrat', sans-serif;
    font-weight: 700;

	text-align: center;
	top: 3px;

	cursor: pointer;
}


/* Locker component */
.locker-component-container {
	background: #FFBC24;
}

.locker-content-container:after {
	content: "";
	clear: both;
	display: table;
}

.padlock-container {
	display: inline-block;
	position: relative;
	float: left;
	height: 230px;
	padding-top: 68px;
	padding-right: 70px; 
	padding-left: 100px;
}

.locker-msg-container {
	display: inline-block;
	position: relative;
	float: left;
	width: 885px;

	font-family: 'Love Ya Like A Sister';
	font-size: 50px;
	color: #FEFEFE;
	letter-spacing: 0;
	line-height: 50px;
	padding-top: 60px;
	padding-bottom: 70px;
}

.login-link {
	cursor: pointer;
}

.login-link:hover {
	text-decoration: underline;
}